.film-list-container {
    background-color: white;
    margin-top: 2rem;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.film-item {
    display: flex;
    padding: 1rem 0;
    border-bottom: .05rem solid rgba(0, 0, 0, 0.082);
    padding: 1rem 0;
}
.film-details {
    margin-left: 1.25rem;
}

.film-item-name {
    display: flex;
}

.film-item-name h4 {
    margin-right: 0.5rem;
}

.detail-footer {
    margin-top: 1rem;
}